@font-face {
	font-family: "Minecraft";
	src: url("../assets/fonts/1_Minecraft-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "Minecraft", sans-serif;
}
